/* home.css */

/* General */
/* Asegurarse de que el body y el html cubran toda la altura de la pantalla */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../fotos/Fondo.jpg);
    background-size: cover;
    background-position: center;  
    
    /*linear-gradient(to bottom,*/
        /*#00BFFF 0%,       Celeste intenso (Deep Sky Blue) */
        /*#1E90FF 10%,     Celeste más claro (Dodger Blue) */
        /*#87CEFA 20%,      Celeste claro (Light Sky Blue) */
        /*#ADD8E6 30%,     /* Celeste medio (Light Blue) */
        /*#57b8c5e0 40%,     /* Celeste suave (Powder Blue) */
        /*#3dbeea 50%,     /* Celeste muy claro (Light Steel Blue) */
        /*#96bfe9 60%,     /* Celeste suave y claro */
        /*#92afe7 90%,     /* Celeste muy claro (Azure) */
        /*#C9D5FD 100%     /* Blanco */
    /*);
    background-attachment: fixed;*/
}


.header{
    background-image: url(../fotos/FARMACORP.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: flex-end;
}
/*Carrusel de imagenes al inicio*/
/* Estilos generales para el carrusel */
.carousel {
    width: 100%;
    height: 450px; /* Ajusta la altura del carrusel según tus necesidades */
    overflow: hidden;
    align-items: center;
}

.carousel-inner {
    height: 100%; /* Asegúrate de que el contenedor interior del carrusel ocupe toda la altura */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene las imágenes proporcionadas mientras llenan el contenedor */
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.carousel-fade .carousel-item {
    transition: opacity 1s ease-in-out; /* Añade una transición suave entre imágenes */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Añade un fondo semitransparente a los íconos de navegación */
    border-radius: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Oscurece los íconos al pasar el mouse */
}

/*RECONOCIMIENTOS*/
/* Estilos para los iconos y textos */
.recognition-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    opacity: 0; /* Oculta los elementos inicialmente */
    transform: translateX(-50px); /* Posiciona los elementos fuera de la pantalla */
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.icono-mediano {
    font-size: 2rem;
    margin-right: 10px;
}

/* Efecto de entrada para la primera fila */
.row-anim:nth-of-type(1) .recognition-item {
    animation: slideInLeft 0.6s forwards; /* Animación de entrada desde la izquierda */
}

.row-anim:nth-of-type(2) .recognition-item {
    animation: slideInRight 0.6s forwards; /* Animación de entrada desde la derecha */
}

.row-anim:nth-of-type(3) .recognition-item {
    animation: slideInLeft 0.6s forwards; /* Animación de entrada desde la izquierda */
}

/* Definición de las animaciones */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Estilos para la galería de imágenes */
.gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a la siguiente línea si es necesario */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 1rem; /* Espacio entre las tarjetas */
    margin-top: 2rem; /* Espacio superior para separar de otros contenidos */
}

.gallery .card {
    position: relative;
    width: 7.5rem; /* Ajuste del ancho de las tarjetas de la galería */
    height: 10rem; /* Ajuste de la altura de las tarjetas de la galería */
    background: var(--background-card); /* Usar la variable de color de fondo de las tarjetas */
    border-radius: 0.5rem;
    /*border: none;*/
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0,0,0,0.5);
    transition: transition 0.3s ease-in-out; /* Mejorar la transición */
}

.gallery .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}

.gallery .card:not(:first-child) {
    margin-left: 3rem;
}

.gallery .card:hover {
    transform: translateY(-1rem);
    font-weight: bold;
    cursor: pointer;
}

.gallery .card:hover ~ .card {
    left: 2rem;
}

.navbar {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.navbar-brand {
    font-weight: bold;
    color:#00529b;
    /*color: white;(ANTES) /* Color de la marca */
    padding: 10px 15px;
}

.navbar-nav .nav-link {
    color:#ffd301;
    /*color: white;(ANTES) /* Color de los enlaces */
    margin-right: 15px;
    font-size: 30px;
    /*font-size: 20px;*/
}

.navbar-nav .nav-link:hover {
    color: #f6951d;
    /*color: #007bff;(ANTES) /* Color de los enlaces en hover */
    text-decoration: underline; /* Opcional: subrayado en hover */
}

.cart-icon {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 15px;
}

#main-content {
    margin-top: 20px;
}

/* Ajuste de las cards para un tamaño uniforme */
.card {
    min-height: 400px; /* Establece una altura mínima */
    background-color: #D9D9D9;
    border: 5px solid rgb(80, 97, 197); /* Cambia el grosor del borde */
    border-radius: 25px;
    border-top-left-radius: 25px;
    border-end-start-radius: 25px;
}

.card-img-top {
    height: 200px;
    border: #000;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white; /* Cambiar el color del texto a claro */
}
.card-text{
    color: white;
}

.btn-primary {
    background-color: #01b2de;
    border-color: #01b2de;
    /*background-color: #007bff;
    border-color: #007bff;*/
}

.btn-primary:hover {
    background-color: #08c908;
    border-color: #c97919;
    /*background-color: #0056b3;
    border-color: #004085;*/
}

.contact-form {
    margin-bottom: 30px;
}

.contact-form h3 {
    margin-bottom: 15px;
}

.contact-form form {
    margin-top: 15px;
}

/* Estilos para la paginación */
.pagination .page-item .page-link {
    color: #191a1b; /* Color de los números de paginación */
}

.pagination .page-item.active .page-link {
    background-color: #F0EFEA;
    border-color: #F0EFEA;
}

.pagination .page-item.disabled .page-link {
    color: #F0EFEA;
    pointer-events: none;
}



/*Carrusel Marcas*/
/*Carrusel Marcas*/
#carousel-marcas {
    background-color: #f8f9fa;
    padding: 20px 0;
    overflow: hidden;
}

.marcas-carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marcas-carousel-track {
    display: flex;
    transition: transform 0.5s linear;
    will-change: transform;
}

.marcas-carousel-item {
    flex: 0 0 auto;
    width: 150px;
    height: 100px;
    margin: 0 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.marcas-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/*imagenes de informacion*/
.info-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
    align-items: center;
    padding: 40px;
  }


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 40px;
    }
/* Ajusta el espaciado entre columnas 
.column:not(:last-child) {
    margin-right: 10px;
}*/
  .info-item {
    flex:1;
    width: 18%;
    margin: 0 10px; /* Añade algo de espacio alrededor de cada item */
    min-width: 150px; /* Asegura que no se colapsen en pantallas pequeñas */
    text-align: center;
  }
  .info-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
  }
  .info-item h3 {
    font-size: 16px;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  .info-item p {
    font-size: 14px;
    color: #666;
  }


/*promocion 7porciento*/
.promo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: inherit;
    /*max-width: 900px; /* Limita el ancho total */
    margin: 0 auto; /* Centra el contenedor */
    box-sizing: border-box;
  }

  .promo-left {
    width: 50%;
    /*background-image: url("./app/views/fotos/desc.png"); /* Cambia esto a la ruta de tu imagen */
    
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f9fa;
    font-weight: bold;
    text-align: center;
  }

  .promo-right {
    width: 45%;
    padding-left: 20px;
  }

  .promo-right h2 {
    color: #3D853C;
    font-size: 40px;
    margin: 0;
  }

  .promo-right p {
    color: #333;
    font-size: 25px;
    margin: 10px 0;
  }

  .promo-right a {
    color: #271B7F;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .promo-right a:hover {
    text-decoration: underline;
  }

  .promo-right a::after {
    content: '→';
    margin-left: 5px;
  }


/* Estilos personalizados para el botón */
.btn-custom {
    border-radius: 8px; /* Bordes ligeramente redondeados */
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3); /* Sombra del botón */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-custom:hover {
    transform: translateY(-3px); /* Efecto de levantamiento al pasar el mouse */
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4); /* Sombra más pronunciada */
}

/* Estilos para las redes sociales en la sección de contacto */
#contactos .btn-primary {
    background-color: #0056b3;
    border: none;
    margin: 5px;
}

#contactos .btn-primary:hover {
    background-color: #004085;
}
/* Estilos adicionales para el formulario de contacto */
.contact-form input, .contact-form textarea {
    border-radius: 8px;
    border: 1px solid #ced4da;
}

/*.contact-form button {
    background-color: #007bff;
    border: none;
}*/

.contact-form button:hover {
    background-color: #0056b3;
}


  

/*Seccion Contacto*/
/* Estilos generales para la sección de contacto */
#contactos {
    background-color: #f9f9f9;
    padding: 50px 0;
    border-radius: 8px;
}

h2, h3 {
    color: #333;
    font-weight: bold;
}

.contact-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustes para los campos de texto */
.input-square {
    border-radius: 8px; /* Cambia el radio del borde para que sea más cuadrado */
    padding: 10px;
    font-size: 16px;
    height: 45px; /* Ajusta la altura para que sea más compacto */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para los inputs */
    border: 4px solid #ccc;
    transition: border-color 0.3s ease;
}

.input-square:focus {
    border-color: #5061C5; /* Color de borde cuando se selecciona el campo */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Brillo en el foco */
}

/* Estilos personalizados para el botón */
.btn-custom {
    border-radius: 8px; /* Bordes ligeramente redondeados */
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3); /* Sombra del botón */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-custom:hover {
    transform: translateY(-3px); /* Efecto de levantamiento al pasar el mouse */
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.4); /* Sombra más pronunciada */
}

.social-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; 
    border: none;
  }

  .social-buttons {
    display: flex;
    gap: 20px;
    border: none;
  }

  .social-buttons a {
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    display: inline-block; /* Asegura que se comporte como botón */
    border: 2px solid transparent; /* Borde inicial */
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones */
  }

  .btn-facebook {
    background-color: #271B7F;
  }

  .btn-instagram {
    background-color: #5061C5;
  }

  .btn-twitter {
    background-color: #F3D408;
  }

  .btn-youtube {
    background-color: #3D853C;
  }

  /* Efecto de hover para cambiar ligeramente el tono y agregar borde */
  .btn-facebook:hover {
    background-color: #2d4373;
    border-color: #3b5998;
  }

  .btn-twitter:hover {
    background-color: #dfee12;
    border-color: #dfee12;
  }

  .btn-instagram:hover {
    background-color: #1991db;
    border-color: #1da1f2;
  }

  .btn-youtube:hover {
    background-color: #198b02;
    border-color: #198b02;
  }


/* Ajuste de mapa */
#map iframe {
    border-radius: 10px;
}


/* Estilos para ajustar el mapa */
#map {
    margin-top: 20px;
    border: 3px solid #5061C5; /* Borde del mapa */
    border-radius: 8px;
    overflow: hidden;
}

/* footer {
    background-color: #f8f9fa;
}

footer a {
    margin: 0 10px;
    color: #333;
}

footer a:hover {
    color: #007bff;
} */


/*NUEVO FOOTER*/
footer{
    position: relative;
    width: 100%;
    background: #01b2de;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .rrss_icon, footer .menu_footer{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .rrss_icon li, footer .menu_footer li{
    list-style: none;
}
footer .rrss_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .rrss_icon li a:hover{
    transform: translate(-10px);

}
footer .menu_footer li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu_footer li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .onda{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../fotos/WAVE.png);
    background-size: 1000px 100px;
}
footer .onda#onda1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .onda#onda2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .onda#onda3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .onda#onda4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
.vision-mision-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 45%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    font-size: 16px;
    color: #555;
}
@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}